html,body{
    background: #F2F3F4;
}

h1, h2{
    font-family: 'Open Sans', sans-serif;
}

/*.list-group-item {*/
    /*border: 4px solid rgba(0,0,0,.125) !important;*/
    /*background: none !important;*/
/*}*/

.breadcrumb{
    background: none;
}

.cards{
    background: #fff;
    border: none;
    height:180px;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.cards:hover{
    border: 1px solid #A3E4D7;
    transform: scale(1.1);
}

.card-header{
    background: none;
    border-bottom: none;

}

.card-body{
    margin-left: 3px;
    padding-top: 0;
}

.create-card{
    width: 70%;
    margin: 0 auto;
}

.create-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control:focus{
    box-shadow: none;
}

.list-group{
    border: 1px solid rgba(0,0,0,.125);
    margin-top: 13px;
}

.updates{
    border: none;
    background: none !important;
    transition: all .2s ease-in-out;
}

.updates:hover{
    border: 5px solid #A3E4D7 !important;
    background: #A3E4D7 !important;
    transform: scale(1.1);
}

/*.name-project-add{*/
    /*width: 74.5%;*/
    /*display:flex;*/
    /*justify-content: space-between;*/
/*}*/

.project-header{
    border-left: 3px solid #A3E4D7;
    padding: 20px !important;
    margin-top: 10px !important;
}
